# Configuration SMTP pour l'envoi d'emails DSV Colis
EMAIL_HOST=ssl0.ovh.net
EMAIL_PORT=465
EMAIL_USER=contact@dsv-colis.fr
EMAIL_PASS=votre-mot-de-passe-securise

# Destinataires des emails (séparés par des virgules)
EMAIL_RECIPIENTS=registratie@autodp.org,richtingklantautodp.be@gmail.com

# Configuration optionnelle
NEXT_PUBLIC_SITE_URL=https://dsv-colis.fr
NEXT_PUBLIC_SITE_NAME=DSV Colis Express
